spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/learning_base_pets_owners
    username: postgres
    password: user
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: pets_owners_sheme
        format_sql: true

server:
  port: 8081

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: TRACE
    com:
      example:
        petprojectcrud: DEBUG